#productCarousel {
    width: 100%;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    justify-items: center;
    top: 70%;

 
}

#productCarousel:before {
    filter: blur(10px);
    background-color: rgba(0, 0, 0, 1);
}


.carousel-item .d-flex {
    padding-block: 10px;
    gap: 30px;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.card {
    position: relative;
    min-width: 200px;
    max-width: 300px;
    background-color: white;
    width: 280px;
    height: 650px;
    overflow: clip;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
    
}

.card-body {
    overflow: auto;
    padding: 10px;
}


.card:hover {
    transform:translateY(-5px);
    transition: transform 0.5s;
    cursor: pointer;
}

.product-name {
   margin-bottom: 5px;
   font-weight: bold;
   color: black;
}
.product-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px;
    cursor: auto;
}
.add-to-cart {
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}


.on-sale {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
}

.new-product {
    background: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    width: fit-content;
    margin-bottom: 0px;
}

.price {
    font-size: 1.5rem;
    color: #333;
    flex: 1;
}

@media (max-width: 768px) {
    .carousel-item .d-flex {
      
        gap: 10px;
       
        
    }
}

.product-description{
    margin-top: 15px;
}