@page "/admin"
@layout AdminLayout

<div class="container">
    <div class="header">
    <h3>Dashboard</h3>
    <p>Welcome to the Admin Dashboard.</p>
    </div>
    <img src="/Assets/images/haga.webp" alt="Admin Dashboard" />
</div>
