.container {
    margin-top: 20px;
}

.title {
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    gap: 2rem;
    margin-bottom: 2rem;
}

.product-catalog .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
    overflow: auto; 
}

.product-card {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    position: relative;
    
}

.product-card img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}

.product-card h3, .product-card p, .product-card span {
    padding: 8px; 
    margin: 0;
}

.product-card .price {
    display: block;
    color: #555;
}




btn {
    padding: 8px 12px;
    margin-top: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

    .btn-secondary:hover {
        background-color: #545b62;
    }

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

.price {
    font-size: 1rem;
    color: #333;
    padding: 0;
    cursor: pointer;
  
    justify-content: start;
}

.img-banner {
    display: flex;
    flex-direction: column;
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.on-sale {
    right: 0;
    background: red;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
}

.new-product {
    background: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    width: fit-content;
    margin-block: 5px;
    
}
.product-footer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: auto;
    padding: 10px;
    align-content: end;
    justify-content: end;
}