@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="password-confirmation">
    <h1 id="ForgotPasswordConfirmation">
        Forgot password confirmation
    </h1>
    <p>
        Please check your email to reset your password.
    </p>
</div>

<style>
    .password-confirmation {
        margin-left: 1rem;
        margin-top: 5rem;
        justify-content: center;
        
        align-items: start;
        color: white;
        opacity: 0.8;
        text-align: center;
    }

    .password-confirmation p {
        font-size: 1rem;
        margin-top: 1rem;
        text-align: center;
    }
 </style>